# Heroes of Pymoli - Analysis

Analysis goes here...

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load 
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

# Player Count

In [3]:
# Count number of unique player names
user_count = purchase_data['SN'].nunique()
player_count = pd.DataFrame({'Total Players': user_count}, index=[0])
player_count

   Total Players
0            576

# Purchasing Analysis (Total)

In [6]:
# Run calculations to obtain number of unique items, average price, total # of purchases, total revenue
unique_items = purchase_data['Item ID'].nunique()
avg_price = purchase_data['Price'].mean()
purchase_count = purchase_data['Purchase ID'].count()
total_purchases = purchase_data['Price'].sum()

# Create a summary data frame to hold the results
purchase_summary = pd.DataFrame({'Number of Unique Items': unique_items, 
                                 'Average Purchase Price': avg_price,
                                'Total Number of Purchases': purchase_count, 
                                 'Total Revenue': total_purchases}, index=[0], columns=['Number of Unique Items', 
                                                                                        'Average Purchase Price', 
                                                                                        'Total Number of Purchases', 
                                                                                        'Total Revenue'])

# Format the data table
purchase_summary = purchase_summary.style.format({'Average Purchase Price': '${:,.2f}', 'Total Revenue': '${:,.2f}'})
purchase_summary

# Gender Demographics

In [10]:
# Determine Count of Male, Female, and Other/Non-Disclosed players
gender_demo = pd.DataFrame(purchase_data.groupby('Gender').SN.nunique())

# Determine Percentage of M, F, and O/N-D players
gender_demo['Percentage of Players'] = gender_demo['SN'] / sum(gender_demo['SN'])*100

# Rename the 'SN' Column
gender_demo = gender_demo.rename(index=str, columns={'SN': 'Total Count'})

# Format Perc. of Players Column as a %
gender_demo = gender_demo.style.format({'Percentage of Players': '{:.2f}%'})

gender_demo

# Purchasing Analysis (Gender)

In [ ]:
# Run calculations to obtain Purchase Count, Average Purchase Price, Total Purchase Value, Average Purchase Total per Person (all by gender)